In [16]:
import requests
from lxml import html

In [81]:
DATABASE_URL = "http://www.ga.gov.au/oracle/nuclear-explosion-query.jsp"

COUNTRIES = [
    "CHN",
    "FRA",
    "IND",
    "PAK",
    "NK",
    "SOV",
    "GBR",
    "USA",
    "UNK"
]

tests = []

for country in COUNTRIES:
    response = requests.post(DATABASE_URL, {'testby': country, 'start_date': 1945, 'end_date': 2007})
    tree = html.fromstring(response.content.decode("utf-8"))
    
    # One li per test
    for li in tree.cssselect('ol li'):
        test = {'country': country}
        for line in li.xpath('text()'):
            if ":" not in line:
                field_name = "date"
                field_value = line
            else:
                field_name, field_value = [x.strip() for x in line.split(":", maxsplit=1)]
            test[field_name.lower()] = " ".join(field_value.split())  # split-join to remove extra whitespace
        
        tests.append(test)

In [83]:
len(tests)

2065

In [88]:
tests[100]

{'body wave magnitude': '4.83',
 'country': 'FRA',
 'date': '03/06/1985',
 'name': 'Talaos',
 'original time': '17:30:00 (Universal Coordinated Time)',
 'site': 'Tuamotu Archipelago',
 'type': 'Underground'}

In [87]:
import json
json.dump(tests, open("nuclear_tests.json", "w"))